
{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="d-flex flex-column">
            <p class="m-auto p-2">
                Ми відправили вам інструкцію по скидуванню пароля на вашу електронну адресу, якщо на вказаний вами
                адрес електронної пошти існує обліковий запис.
            </p>
            <p class="m-auto p-2">
                Якщо ви не отримали письмо, впевніться, что ви ввели адрес, який ви зареєстрували, и провірьте папку зі смамом.
            </p>
            <p class="m-auto p-2"><a href="{% url 'login' %}">Вернуться домой</a></p>
        </div>
    </div>

{% endblock %}