{% extends 'base.html' %}

{% block title %} Скидування пароля {% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <h1>Скидування пароля</h1>
                        </div>
                        <div class="login-form">
                            <form method="post"> {% csrf_token %}
                                <div class="form-group">
                                    <label>Емайл Адрес</label>
                                    <input class="au-input au-input--full" type="email" name="email" placeholder="Емайл" required>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Підтвердити</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}