#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  -moz-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.recent-report {
  padding-bottom: 65px;
  margin-bottom: 60px;
}
.chart-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 14px;
}
.chart-note {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
}
.chart-note .dot {
  margin-right: 7px;
}
.chart-statis {
  display: inline-block;
  margin-right: 35px;
}
.chart-statis i {
  font-size: 18px;
  margin-right: 5px;
}
.chart-statis .label {
  display: block;
  text-transform: capitalize;
  line-height: 1.2;
}
.chart-statis .index {
  font-size: 18px;
  color: #333;
}
.recent-report__chart canvas {
  height: 250px;
  width: 100%;
}
.chart-percent-card {
  margin-bottom: 60px;
  padding-top: 47px;
}
.chart-percent-card .chart-note {
  margin-bottom: 8px;
}
.incre i {
  color: #63c76a;
}
.decre i {
  color: #ff4b5a;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.dot--blue {
  background: #00b5e9;
}
.dot--green {
  background: #00ad5f;
}
.dot--red {
  background: #fa4251;
}
.chart-note-wrap {
  margin-top: 20px;
}
.percent-chart {
  padding-right: 65px;
  padding-bottom: 40px;
  padding-top: 27px;
}
@media (min-width: 992px) and (max-width: 1519px) {
  .percent-chart {
    padding-right: 0;
  }
}
.statistic-chart {
  padding-top: 22px;
}
.statistic-chart-1,
.top-campaign,
.chart-percent-2 {
  background: #fff;
  padding: 0 40px;
  padding-top: 45px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.statistic-chart-1 {
  padding-bottom: 42px;
  margin-bottom: 40px;
}
.statistic-chart-1-note {
  margin-top: 18px;
  padding-left: 8px;
}
.statistic-chart-1-note span {
  font-size: 14px;
  color: #808080;
}
.statistic-chart-1-note .big {
  font-size: 18px;
  color: #393939;
}
.top-campaign {
  padding-bottom: 97px;
  margin-bottom: 40px;
}
.chart-percent-2 {
  margin-bottom: 40px;
  padding-bottom: 70px;
}
.chart-percent-2 .chart-info {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 30px;
}
.chart-percent-2 .chart-info .chart-note {
  margin-right: 34px;
}
.chart-percent-2 .chart-info .chart-note:last-child {
  margin-right: 0;
}
