.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .form-header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.form-header2 .au-btn--submit {
  border: none;
  line-height: 45px;
}
.form-header2 .au-input {
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.051);
  color: #999;
}
.form-header2 .au-input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}
.form-header2 .au-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}
.form-header2 .au-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}
.form-header2 .au-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}
.form-header2 .au-input:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
